body{
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
transition-duration: 500ms;
transition-delay: 200ms;
}


.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
   justify-content: center;
  align-items: center;


}
.wrapper{
  width: 450px;
  height: auto;
  background-color: whitesmoke;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  transition-delay: 200ms;
}

.quoteDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: auto;
  transition-duration: 500ms;
  transition-delay: 200ms;
  margin-bottom: 3px;

}
.hOne{
  text-align: center;
  font-weight: 400;
    opacity: 1; 
    transition: all;
    transition-delay: 0ms;
    transition-duration: 600ms; 

}

.hide{
  opacity: 0;
}
.buttonDiv{
  display: flex;
  width: 100%;
  height: 38px;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
 
}
.NextQuote{
  color:white;
  margin-left: auto;
  font-weight: 400;
  cursor: pointer;
  width: 100px;
  height: 38px;
  border: none;
  transition-duration: 500ms;
  transition-delay: 200ms;
  }
.links{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 35px;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
 
}

.links :hover{
  
  opacity: 0.7;
}
.author{
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 30px;
  transition-delay: 0ms;
  transition-duration: 700ms; ;

}


a,a:hover,a:active{
  color: white;
  text-decoration: none;
}
.footer{
  display: flex;
  align-items: center;
  color:white;
  margin:15px auto 30px auto;
  font-weight: 100;
  gap: 2px;

}

.invisible{
display: none;
 
}

.NextQuote:hover { color:rgb(190,190,190)}